.red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .Button {
    border: 0.2em solid blue;
    padding: 2em;
    background-color: green;
    border-radius: 0.5em;
    font-family: 'helvetica';
    color: white;
    margin: 2em;
    cursor: pointer;
  }
  
  .Button:hover {
    background-color: lightgreen;
    color: black;
  }
  
  .Button.Red {
    background-color: red;
  }
  
  .Button.Red:hover {
    background-color: salmon;
    color: black;
  }